.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forgot-password-container h2 {
    color: #2E454E;
    margin-bottom: 20px;
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.forgot-password-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.forgot-password-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #2E454E;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forgot-password-container button:hover {
    background-color: #1a2f36;
}

.forgot-password-container p {
    color: #A6530A;
    margin-top: 15px;
}


.error-message {
    color: #ca0e0e;
    margin-top: 15px;
}

.btn.forgot-btn-primary {
    background: #A6530A;
    border-color: #A6530A;
    padding: 13px 35px;
    width: 200px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 35px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.3s linear, color 0.3s linear;
    -webkit-transition: background 0.3s linear, color 0.3s linear;
}

.btn.forgot-btn-primary:focus,
.btn.forgot-btn-primary:hover {
    background: #fff;
    border-color: #A6530A;
    color: #A6530A;
}

.btn.forgot-btn-primary .fas {
    margin: 0 0 0 6px;
    font-size: 15px;
}

.btn.forgot-btn-secondary {
    background: #2E454E;
    border-color: #2E454E;
    padding: 13px 35px;
    width: 200px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 35px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.3s linear, color 0.3s linear;
    -webkit-transition: background 0.3s linear, color 0.3s linear;
}

.btn.forgot-btn-secondary:focus,
.btn.forgot-btn-secondary:hover {
    background: #fff;
    border-color: #2E454E;
    color: #2E454E;
}

.forgot-button-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Space between buttons */
    margin-top: 20px;
}