body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 600vh;
    background: linear-gradient(#2E454E, #7794A6);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calendar-form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 800px;
    max-height: 180vh;
    background: white;
    padding-bottom: 30px;
    border-radius: 10px;

    
}

.calendar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.calendar-text {
    color: #A6530A;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #A6530A;
    border-radius: 9px;
}

.inputs {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #cccccc;
    
    
}

.input img {
    margin: 0 30px;
}

.input input {
    flex-grow: 1;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 16px;
    padding: 0 15px;
    
}

.react-calendar {
    padding: 30px;
    width: 100%;
    max-width: none;
    border: none;
    font-family: Montserrat;
    border-radius: 10px;
}

.react-calendar__navigation {
    background-color: #A6530A;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__navigation button {
    color: white;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin: 0 5px;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    background-color: #f0f0f0;
}

.react-calendar__month-view__days__day__weekend {
    color: #333;
}

.react-calendar__month-view__days__day {
    text-align: left;
    padding: 5px;
    aspect-ratio: 1/1;
    position: relative;
}

.react-calendar__month-view__days__day > abbr {
    position: absolute;
    top: 5px;
    left: 5px;
    color: black;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background-color: #A6530A;
    color: white;
}

.itinerary-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 5px;
    height: 1500px;
    padding-bottom: 30px;
    border-radius: 10px;

}

.itinerary-form input[type="text"],
.itinerary-form input[type="date"],
.itinerary-form input[type="time"],
.itinerary-form textarea {
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #797979;
    width: 100%;
    
}

.itinerary-form textarea {
    height: 200px;
    resize: vertical;
    
    
}

.itinerary-form .button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;


}

.itinerary-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: #fff;
    background: #2E454E;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 30px;


}

.itinerary-submit:hover {
    background-color: #1a2f36;
}

.btn.trip-btn-primary {
    background: #A6530A;
    border-color: #A6530A;
    padding: 13px 35px;
    width: 180px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.3s linear, color 0.3s linear;
    -webkit-transition: background 0.3s linear, color 0.3s linear;
}

.btn.trip-btn-primary:focus,
.btn.trip-btn-primary:hover {
    background: #fff;
    border-color: #A6530A;
    color: #A6530A;
}

.btn.trip-btn-secondary {
    background: #2E454E;
    border-color: #2E454E;
    padding: 13px 35px;
    width: 180px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.3s linear, color 0.3s linear;
    -webkit-transition: background 0.3s linear, color 0.3s linear;
}

.btn.trip-btn-secondary:focus,
.btn.trip-btn-secondary:hover {
    background: #fff;
    border-color: #2E454E;
    color: #2E454E;
}

.itinerary-form .form-row {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
    width: 95%;
    
    
}

.itinerary-form .input {
    width: 45%;
    margin-right: 10px;
    
}

.itinerary-form .description-row .input {
    flex: 0 0 100%;
    width: 100%;
    padding-top: 80px;
    max-width: 726px;
    font-size: 16 px;
    margin-bottom: 10px;
}

.itinerary-form .input select[name="notification"] {
    padding: 12px 20px;
    width: auto;
    border: 0px solid #cccccc;
    border-radius: 6px;
    background: #eaeaea;
    color: #797979;
    font-size: 16px;
    
    
}

.itinerary-form .input:last-child {
    margin-right: 0;
    
}

@media (min-width: 1024px) {
    .itinerary-form-container, .itinerary-form {
        min-height: 600px; 
    }
}

.calendar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 60px;
}

.calendar-text {
    color: #A6530A;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 10px;
}

.underline {
    width: 61px;
    height: 6px;
    background: #A6530A;
    border-radius: 9px;
    margin-bottom: 20px;
}


.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.4; /* Lower the opacity for dates not in the active month */
}

.itinerary-form .button-row .reminder-select {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align to the start of the row */
    gap: 10px; /* Adjust space between label and select box */
    padding-left: 25px;
    margin-left: 15px;
    margin-top: -5px;
    color: #797979;
    
}

.itinerary-submit-container {
    display: flex;
    justify-content: flex-end; /* Aligns Submit and Cancel buttons to the right */
    gap: 15px; /* Space between buttons */
    padding-bottom: 80px;
}

.event-tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    /* Additional styling */
}